@page "/chat"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<FluentButton @onclick="Send" disabled="@(!IsConnected)" Appearance="Appearance.Accent">Send</FluentButton>
<FluentButton @onclick="HitApi" disabled="@(!IsConnected)" Appearance="Appearance.Accent">Hit Api</FluentButton>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

