@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor8 with Roles and SignalR</h1>

This app demonstrates User roles with persistence to the client.<br />

<AuthorizeView Context="outer">
    <NotAuthorized>
        Don't forget to "Update-Database" to run the migrations.<br />
        Seeded User:<br />
        bob@bob.com  [Pass123$]
    </NotAuthorized>
    <Authorized>
        <br />
        Moderator Role:
        <AuthorizeView Roles="Moderator">
            <Authorized>Yes</Authorized>
            <NotAuthorized>No</NotAuthorized>
        </AuthorizeView>
        <br />
        Administrator Role:
        <AuthorizeView Roles="Administrator">
            <Authorized>Yes</Authorized>
            <NotAuthorized>No</NotAuthorized>
        </AuthorizeView>
    </Authorized>
</AuthorizeView>
